#<IfModule mod_rewrite.c="">
  RewriteEngine On
  RewriteBase /dmizone_bkp
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system)
  RewriteRule ^(.*)$ /rixero/index.php?/$1 [L]
#</IfModule>

<IfModule mod_rewrite.c="">
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

